{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ product.tags ? product.tags|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ product.date ? product.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                    {#<img src="{{ asset('images/' ~ productDetails.photo) }}">#}
            </tr>
        </tbody>
    </table>

    <h2>Dérivés du produit</h2>

    {% for detail in productDetails %}
        <table class="table">
            <tbody>

                <tr>
                    <th>Price</th>
                    <td>{{ detail.price }} €</td>
                </tr>
                {% if detail.new %}
                <tr>
                    <th>Nouveau produit !</th>
                </tr>
                {% endif %}
                {% if detail.discount %}
                    <tr>
                        <th>Discount</th>
                        <td>{{ detail.discount }} %</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Stock</th>
                    <td>{{ detail.stock }} en stock !</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    {#<a href="{{ path('products_index') }}">back to list</a>#}

    {#<a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>#}

    {#{{ include('products/_delete_form.html.twig') }}#}
{% endblock %}